body {
    margin: 0 auto;
    background-color: white;
    color: #333;
}

.dark {
    background-color: black;
    color: #fff;
}

.page-header {
    padding: 5px 10px;
}
.navigation {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.page-header .container {
    width: 800px;
    margin: 0 auto;
}

.page-header .container .navigation {
    list-style: none;
}

.page-header .container .navigation li.nav-item {
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}
.page-header .container .navigation a.nav-link {
    color: red;
    text-decoration: none;
}

.onePhoto {
    text-align: center;
}

.h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    margin: 30px;
}

.container2 {

}

.firstParagraph {
    font-size: 16px;
    text-align: center;
    padding: 40px 200px 20px 200px;
}

.secondParagraph {
    font-size: 16px;
    text-align: center;
    padding: 20px 200px 100px 200px;
}

.getStarted {
    display: flex;
    justify-content: center;
}

.button1 {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 5px;
    background: red;
    font-size: 6pt;
}

.page-footer {
    text-align: right;
    margin-right: 350px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.page-footer .allRights {
        font-weight: 600;
}

input[type="checkbox"] {
    outline: none;
    position: relative;
    border-radius: 20px;
    background: #c6c6c6;
    -webkit-appearance: none;
    height: 40px;
    width: 80px;
    transition: 2s;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

input:checked[type="checkbox"] {
    background: green;
}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background: #fff;
    top: 0;
    left: 0;
    transition: .2s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
input:checked[type="checkbox"]:before {
    left: 40px;
}